# iOS / Apple
# ===========
.DS_Store
ehthumbs.db
Thumbs.db

# Node & Related
# ================
npm-debug.log
node_modules/
public/lib/
src/node_modules/

# Brackets.io
# ===========
.brackets.json

# Etherpad Assets
# ==================
etherpad-lite-win.zip
settings.json
APIKEY.txt
SESSIONKEY.txt
.ep_initialized
*.crt
*.key
bin/abiword.exe
bin/convertSettings.json
bin/etherpad-1.deb
bin/node.exe
src/static/js/jquery.js
var/dirty.db

# Others
# ======
*.patch
*.log
*.csv
*.dat
*.out
*.pid
*.tmp
*.bak
*.swp
